* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #161516;
    min-height: 100vh;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    margin: 0 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    list-style: none;
}

ul li::before, ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0;
    transition: 1s;
    z-index: -1;
}

ul li::after {
    filter: blur(40px);
}

ul li:hover:before, ul li:hover:after {
    opacity: 1;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: center;
    color: #fff;
    background: #000;
    font-size: 32px;
    border-radius: 50%;
}

ul li a .fa {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    transform: rotateY(0deg) scale(3);
    opacity: 0.2;
}

ul li a:hover .fa {
    opacity: 1;
    transform: scale(5);
}

ul li:nth-child(1) a, ul li:nth-child(1)::before, ul li:nth-child(1)::after {
    background: linear-gradient(45deg, #ff0057, #e64a19);
}

ul li:nth-child(2) a, ul li:nth-child(2)::before, ul li:nth-child(2)::after {
    background: linear-gradient(45deg, #89ff00, #00bcd4);
}

ul li:nth-child(3) a, ul li:nth-child(3)::before, ul li:nth-child(3)::after {
    background: linear-gradient(45deg, #e91e63, #5d02ff);
}

ul li:nth-child(4) a, ul li:nth-child(4)::before, ul li:nth-child(4)::after {
    background: linear-gradient(45deg, #ff0000, #ffc107);
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    ul {
        flex-direction: column;
    }

    ul li a .fa {
        transform: scale(1.5);
    }

    ul li {
        width: 125px;
        height: 125px;
        margin: 8px 0px;
    }

    ul li a:hover .fa {
        opacity: 1;
        transform: scale(2);
    }
}